<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>angularSailsChat</title>
    <link rel="stylesheet" href="/linker/styles/bootstrap.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/linker/styles/chat.css" type="text/css" media="screen" title="no title" charset="utf-8">

    <script type="text/javascript" src="/linker/js/socket.io.js"></script>
    <script type="text/javascript" src="/linker/js/angular.js"></script>
    <script type="text/javascript" src="/linker/js/angular-ui-router.js"></script>
    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/linker/js/angularSails.js"></script>
    
    
    <script type="text/javascript" src="/linker/js/sailsChat.controllers.js"></script>
    <script type="text/javascript" src="/linker/js/sailsChat.services.js"></script>
    <script type="text/javascript" src="/linker/js/sailsChat.ui.js"></script>

    <script type="text/javascript" src="/linker/js/sailsChat.app.js"></script>
  </head>

  <body ng-app="sailsChat">
    <div ui-view class"container well override"> 

    </div>

<!--     <div ng-controller="chatController" class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-tabs">
              <li class="active"><a href="#">Rooms</a></li>
              <li><a href="#">Users</a></li>
              <li><a href="#">Messages</a></li>
            </ul>
          <ul class="nav nav-sidebar">
            <li ng-repeat="room in rooms track by $index"><a ui-sref="sailsChat.room({id : room.id})">Hello</a></li>

          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item</a></li>
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
            <li><a href="">More navigation</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Nav item again</a></li>
            <li><a href="">One more nav</a></li>
            <li><a href="">Another nav item</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Label</h4>
              <span class="text-muted">Something else</span>
            </div>
          </div>

          <h2 class="sub-header">Section title</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1,001</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                  <td>dolor</td>
                  <td>sit</td>
                </tr>
                <tr>
                  <td>1,002</td>
                  <td>amet</td>
                  <td>consectetur</td>
                  <td>adipiscing</td>
                  <td>elit</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>Integer</td>
                  <td>nec</td>
                  <td>odio</td>
                  <td>Praesent</td>
                </tr>
                <tr>
                  <td>1,003</td>
                  <td>libero</td>
                  <td>Sed</td>
                  <td>cursus</td>
                  <td>ante</td>
                </tr>
                <tr>
                  <td>1,004</td>
                  <td>dapibus</td>
                  <td>diam</td>
                  <td>Sed</td>
                  <td>nisi</td>
                </tr>
                <tr>
                  <td>1,005</td>
                  <td>Nulla</td>
                  <td>quis</td>
                  <td>sem</td>
                  <td>at</td>
                </tr>
                <tr>
                  <td>1,006</td>
                  <td>nibh</td>
                  <td>elementum</td>
                  <td>imperdiet</td>
                  <td>Duis</td>
                </tr>
                <tr>
                  <td>1,007</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                  <td>Praesent</td>
                  <td>mauris</td>
                </tr>
                <tr>
                  <td>1,008</td>
                  <td>Fusce</td>
                  <td>nec</td>
                  <td>tellus</td>
                  <td>sed</td>
                </tr>
                <tr>
                  <td>1,009</td>
                  <td>augue</td>
                  <td>semper</td>
                  <td>porta</td>
                  <td>Mauris</td>
                </tr>
                <tr>
                  <td>1,010</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                  <td>lacinia</td>
                  <td>arcu</td>
                </tr>
                <tr>
                  <td>1,011</td>
                  <td>eget</td>
                  <td>nulla</td>
                  <td>Class</td>
                  <td>aptent</td>
                </tr>
                <tr>
                  <td>1,012</td>
                  <td>taciti</td>
                  <td>sociosqu</td>
                  <td>ad</td>
                  <td>litora</td>
                </tr>
                <tr>
                  <td>1,013</td>
                  <td>torquent</td>
                  <td>per</td>
                  <td>conubia</td>
                  <td>nostra</td>
                </tr>
                <tr>
                  <td>1,014</td>
                  <td>per</td>
                  <td>inceptos</td>
                  <td>himenaeos</td>
                  <td>Curabitur</td>
                </tr>
                <tr>
                  <td>1,015</td>
                  <td>sodales</td>
                  <td>ligula</td>
                  <td>in</td>
                  <td>libero</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div> -->


<!--       <div class="row">
        <h3>angularSails Chat</h3>
      </div>

      <p>{{chatUser.name}}<p>
      <div ng-hide="user.connected">
          My name: <input type="text" ng-model="chatUser.name"> <button ng-click="updateUser(chatUser)">Update</button>
      </div>
      <h1>Users online</h1>
      <div>
          <ul>
            <li ng-repeat="user in users">{{user.name}}</li>
          </ul>

          <button id="private-msg-button">Send private message to selected user</button>
          <div id="convos"></div>
      </div>
      <h1>Chat rooms</h1>
      <div>
        <ul>
          <li ng-repeat="room in rooms track by $index">{{room}} <button ng-click="joinRoom(room)" ng-disabled="room.connected">Join room</button></li>
        </ul>

          <input type="text" ng-model="newRoomName">
          <button ng-click="createNewRoom(newRoomName)">Start a new room</button>
          <div id="rooms"></div>
      </div>
    </div>
    </div>
    <div id="disconnect" style="display:none">Waiting for reconnect...</div> -->




</body>

</html>
